# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
vibesh

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment files
.env
.env.devcontainer

# Git directory
.git/
.gitignore

# Others
.vscode/
README.md
